
@{
    ViewBag.Title = "Termino";
    Layout = "~/Views/Shared/_Layout_Tienda.cshtml";
}

<body>

    <section class="bg-black">

        <div class="container w-50 m-auto text-center text-light p-3" id="equipo">
            <a class="navbar-brand" href="#">
                <img width="200" src="@Url.Content("~/Imagenes/LongHorn/LogoCaladoBlancoRojo.png")" />
            </a>
            <h1 class="mb-2 fs-2">Pedidos Online Términos Y Condiciones.</h1>
            <p class="fs-4 ">Términos y condiciones del servicio de pedidos online LongHorn Grill</p>
        </div>


        <div class="container  w-50 text-light ">

            <div style="text-align:justify">
                <p class="fs-6">
                    Bienvenidos a nuestro servicio de pedidos online LongHorn Grill. A continuación, podrán leer los términos y condiciones mediante los que usted podrá usar nuestro servicio de pedidos online LongHorn Grill. Al acceder y utilizar nuestros servicios, usted acepta que ha leído, entiende y está de acuerdo con las condiciones descritas en esta sección "Términos y Condiciones”.
                    <br><br>
                    En consecuencia, todas las visitas y todos los contratos y transacciones que se realicen dentro del servicio de pedidos online LongHorn Grill y sus efectos jurídicos, quedarán regidos por las reglas establecidas a continuación y sometidas a la legislación aplicable.
                    <br><br>
                    Los Términos y Condiciones contenidos en este documento se aplicarán y se entenderá que forman parte de todos los actos y contratos que se ejecuten o celebren mediante los sistemas de oferta y comercialización comprendidos en esta plataforma por los usuarios del sitio y la empresa.
                    <br><br>
                    Es requisito indispensable para realizar una compra por el servicio de pedidos online LongHorn Grill la aceptación de los Términos y Condiciones descritos a continuación. En ese sentido, cualquier persona que realice una transacción utilizando el servicio de pedidos online LongHorn Grill declara y reconoce, por el solo hecho de efectuar la compra, que acepta los Términos y Condiciones descritos a continuación.
                    <br><br>
                    LongHorn Grill se reserva el derecho de actualizar y/o modificar los Términos y Condiciones que detallamos a continuación en cualquier momento y sin previo aviso. Por dicha razón recomendamos revisar los mismos cada vez que utilice dicha plataforma.
                    <br><br>
                    Términos y Condiciones:

                    <h5>1. REGISTRO DEL USUARIO O INVITADO.</h5>
                    Para comprar productos a través del servicio de pedidos online LongHorn Grill, es necesario estar registrado, para agilizar el proceso de compra.
                    <br><br>
                    El registro de cada usuario se efectuará ingresando su email, su teléfono  o dando acceso a su perfil de Facebook, dependiendo que el servicio se encuentre habilitado, luego de ello, completando los datos de su perfil dentro del servicio de pedidos online LongHorn Grill. La información ingresada por el usuario se considerará verdadera, cierta e inequívoca, eximiéndose LongHorn Grill de cualquier consecuencia generada a causa de información falsa o incorrecta ingresada por el usuario.
                    <br><br>
                    Cuando este habilitado el servicio desde la cuenta del Usuario se podrán visualizar sus direcciones registradas, el historial de sus órdenes, la opción de cambio de contraseña, las configuraciones, data acerca de LongHorn Grill y la opción de cierre de sesión.
                    <br><br>

                    <h5>2. CONTRASEÑA.</h5>
                    Una vez registrado, el usuario dispondrá de un nombre y contraseña, que le permitirá el acceso personalizado, confidencial y seguro. El usuario tendrá la posibilidad de cambiar la clave de acceso, para lo cual deberá sujetarse al procedimiento establecido en el servicio de pedidos online LongHorn Grill. El usuario asume totalmente la responsabilidad por el mantenimiento de la confidencialidad de su nombre y su clave secreta registrada en el servicio de pedidos online LongHorn Grill, la cual le permite efectuar compras y obtener información. Dicha clave es de uso personal y su entrega a terceros por parte del usuario, exime de responsabilidad alguna a LongHorn Grill.
                    <br><br>

                    <h5>3. PROCEDIMIENTO PARA HACER USO DEL SERVICIO DE PEDIDOS ONLINE LONGHORN GRILL.</h5>
                    En los contratos ofrecidos por medio de esta plataforma, la empresa informará, de manera inequívoca y fácilmente accesible, los pasos que deben seguirse para celebrarlos.
                    <br><br>

                    <h5>4. ACCESO Y RESTRICCIONES DE ESTE SITIO.</h5>
                    Para acceder al servicio de delivery que la plataforma de pedidos online LongHorn Grill le ofrece, éste debe ingresar la dirección a donde el Usuario desea que le llegue su pedido. La dirección del Usuario se asociará a un restaurante y éste hará efectivo el despacho.
                    <br><br>
                    Al momento de ingresar la dirección y ser asociado a un restaurante, el servicio de pedidos online LongHorn Grill podría mostrar restricciones para ser aceptadas por el mismo y continuar el proceso de compra.
                    <br><br>
                    Estas restricciones son:
                    <br><br>
                    4.1 Zona de reparto: El servicio de pedidos online LongHorn Grill valida que la dirección ingresada pertenece a la zona de reparto disponible por el servicio delivery de LongHorn Grill. Si la dirección del usuario no correspondiera a una zona de reparto, el invitado será notificado, en ese caso, se le invitará a visitar el restaurante más cercano.
                    <br><br>
                    4.2 Horario de atención: El servicio de pedidos online LongHorn Grill indica el horario de atención de cada restaurante y las restricciones de cada uno respecto a las zonas de reparto.
                    <br><br>
                    4.3 Restaurante cerrado: El servicio de pedidos online LongHorn Grill  indica al usuario si el restaurante asociado a la dirección ingresada, se encuentra cerrado.
                    <br><br>

                    <h5>5. DERECHOS DEL USUARIO DE ESTE SITIO.</h5>
                    El usuario gozará de los derechos que le reconoce la legislación sobre protección al consumidor vigente en el territorio nacional y además los que se le otorgan en estos términos y condiciones. El usuario dispondrá en todo momento de los derechos de información, rectificación y cancelación de los datos personales, conforme lo establece la Ley Nº29733, Ley de protección de datos personales y podrá ejercerlos de acuerdo con lo indicado en la Política de Privacidad publicada en el portal web de LongHorn Grill.
                    <br><br>

                    <h5>6. MEDIOS DE PAGOS QUE SE PODRÁN UTILIZAR EN ESTE SITIO.</h5>
                    Los productos y servicios ofrecidos sólo pueden ser pagados en las formas que publique el aplicativo, que podrian ser:
                    <br><br>
                    (I) tarjeta de crédito o débito (Visa o MasterCard) en pasarela de pagos, o
                    <br><br>
                    (II) por POS de ambas marcas, siempre que el usuario requiera el envío del servicio, o
                    <br><br>
                    (III) Depósito en cuenta, o
                    <br><br>
                    (iv) link de pago -PAGO CLIC-
                    <br><br>
                    En el caso de haber elegido la opción "pago tarjeta de crédito ": Usted podrá ingresar el número de su tarjeta de crédito en el sitio Visa o MC asociado al servicio de pedidos online LongHorn Grill.
                    <br><br>
                    De requerir el pago de via POS, el usuario deberá indicarlo en el espacio correspondiente.
                    <br><br>
                    La transacion  culmina previo  acuse de recibo del voucher de pago,  y comunicacion de recpcion via correo al cliente.
                    <br><br>
                    Cabe mencionar, que el servicio de pedidos online LongHorn Grill no almacena información sobre las tarjetas de crédito.
                    <br><br>

                    <h5>7. COMPROBANTES DE PAGO.</h5>
                    Los comprobantes de pago que emite la empresa son boleta de venta o factura electrónica, los mismos que se les enviara a sus correos electrónicos respectivos.
                    <br><br>
                    El usuario al cerrar el pedido deberá obligatoriamente, verificar su tipo de comprobante de pago. Si éste solicitó boleta de venta o factura, al momento de la compra en el servicio de pedidos online LongHorn Grill, posteriormente no podrá realizar cambio o modificación alguna.
                    <br><br>

                    <h5>8. FORMACIÓN DEL CONSENTIMIENTO EN LOS CONTRATOS CELEBRADOS A TRAVÉS DE ESTE SITIO.</h5>
                    A través de esta plataforma, la empresa realizará ofertas de productos, que podrán ser aceptados por los usuarios vía electrónica y utilizando los mecanismos que el mismo servicio de pedidos online LongHorn Grill ofrece para ello. Toda aceptación de oferta quedará sujeta a la condición suspensiva de que LongHorn Grill valide la transacción. En consecuencia, para toda operación que se efectúe en este medio, la confirmación y/o validación o verificación por parte de LongHorn Grill, será requisito esencial para la formación del consentimiento.
                    <br><br>
                    Para validar la transacción, mientras usted realiza el proceso de compra por el servicio de pedidos online, LongHorn Grill verifica lo siguiente:
                    <br><br>
                    a) Los datos registrados por el cliente en el servicio de pedidos online LongHorn Grill coinciden con los proporcionados al efectuar la aceptación de la compra.
                    <br><br>
                    b) La dirección indicada por el usuario para la entrega del producto se encuentre dentro de las zonas de reparto indicadas por LongHorn Grill.
                    <br><br>
                    c) El precio del producto.
                    <br><br>
                    d) Que el pedido iguale o supera los S/.45.00 nuevos soles
                    <br><br>
                    e) El medio de pago.
                    <br><br>
                    f) Que el restaurante asignado tenga el producto disponible.
                    <br><br>
                    La validación de datos se realiza en tiempo real, el sistema está construido para hacer las validaciones durante el proceso de compra. Al finalizar la compra, LongHorn Grill muestra una pantalla de confirmación del pedido y además envía un correo electrónico a la cuenta que el Usuario ha colocado en su perfil para validar el pago del pedido.
                    <br><br>

                    <h5>9. HORARIO DE ATENCIÓN.</h5>
                    El horario de atención de la aplicación está asociado al horario de atención de los restaurantes LongHorn Grill. En ese caso, se pueden efectuar pedidos desde las 12m.
                    <br><br>
                    Si los restaurantes se encuentran cerrados, se podrán visualizar los productos pero no será posible hacer un pedido, el servicio de pedidos online LongHorn Grill notificará en el momento que el usuario requiera el servicio.
                    <br><br>

                    <h5>10. DESPACHO DE LOS PRODUCTOS.</h5>
                    Los productos adquiridos a través del servicio de pedidos online LongHorn Grill se sujetarán a las Políticas de Delivery disponibles en el servicio de pedidos online LongHorn Grill. La información del lugar de envío es de exclusiva responsabilidad del usuario. Los plazos elegidos para el despacho y entrega, se cuentan desde que LongHorn Grill ha validado la solicitud de compra y produce la confirmación de pago vía la plataforma de servicio de pedidos online LongHorn Grill y/o vía correo electrónico.
                    <br><br>


                    <h5>11. VIGENCIA, VALIDEZ Y STOCK DE LOS PRODUCTOS CONTENIDOS EN ESTE SITIO.</h5>
                    Los productos y servicios y los precios de los productos y servicios publicados en este aplicativo, se encuentran vigentes únicamente mientras aparezcan en él. LongHorn Grill podrá modificar cualquier información, incluyendo el precio, contenido en este servicio de pedidos online en cualquier momento y sin previo aviso.
                    <br><br>

                    <h5>12. FORMATO DE RECLAMACIONES</h5>
                    Ponemos a disposición de nuestros Usuarios el Formato de Reclamaciones que figura en nuestra página web.
                    <br>
                </p>
            </div>
            
        </div>

        <div class="container w-50 m-auto text-center text-light p-3" id="equipo">
            <a class="navbar-brand" href="#">
                <img width="200" src="@Url.Content("~/Imagenes/LongHorn/LogoCaladoBlancoRojo.png")" />
            </a>
            <br><br>
        </div>

    </section>

</body>

